#CoukeyWindow {
    background-color: #ffffff;
}

#keyLabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
}

#keyFrequencyLabel {
    color: #414141;
}

#keyTotalLabel {
    color: #414141;
}
